name: Generate Sitemap

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://mdzafar864.github.io/BEU-Syllabus-App/

      - name: Commit sitemap
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git add sitemap.xml
          git commit -m "Update sitemap" || echo "No changes"

      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
